################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project2/.vs/Project2/v16/Browse.VC.opendb
